.button {
    display: flex;
    height: 40px;
    width: 100%;
    max-width: 200px;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    background: rgb(13, 148, 232);
    color: white;
    border: none;
    &:hover {
        cursor: pointer;
        background: rgb(34, 155, 230);
    }
}