.auth_form_wrapper {
    display: flex;
    height: fit-content;
    width: 400px;
    max-width: 400px;
    min-height: 200px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .auth_form_title_bar {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
}